ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #07196a;
  font-size: 20px;
}	

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #020a30;
}

.active {
  background-color: #03b974;
}

* {
  box-sizing: border-box;
}

/* Add background color */
body {
  font-family: Times New Roman;
  padding: 50px;
  background: #c3edf5;
}

/* Header Title*/
.header {
  padding: 30px;
  font-size: 30px;
  text-align: center;
  background: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.about {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 30px;
  font-size: 20px;
  text-align: left;
  background: white;
}

/* Adds two columns*/
.leftcolumn {
  float: left;
  width: 75%;
}

.rightcolumn{
  float: left;
  width: 25%;
  padding-left: 20px;
}

/* Card affect for articles */
.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
  line-height: 2;
  font-size: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Clear floats after columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Tab indent */
.tab {
	margin-left: 40px;
}

/* Responsive layout: columns stack for smaller screens */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
  }
}

div.box {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: block;
  font-size: 0;
}
